{
  "swagger": "2.0",
  "info": {
    "description": "Cloud function API",
    "version": "1.0.0",
    "title": "APIs",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "apiteam@swagger.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "us-central1-comment-on-85597.cloudfunctions.net",
  "basePath": "/",
  "tags": [
    {
      "name": "pet",
      "description": "Everything about your Pets",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://swagger.io"
      }
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/business/": {
      "get": {
        "tags": [
          "business"
        ],
        "summary": "Find list of businesses by query strings",
        "description": "Returns a list of businesses",
        "operationId": "getBusinesses",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "origin",
            "in": "query",
            "description": "Google Place id of origin",
            "required": true,
            "type": "string",
            "format": "string",
            "default": "ChIJs0-pQ_FzhlQRi_OBm-qWkbs"
          },
          {
            "name": "destination",
            "in": "query",
            "description": "Google Place id of destination",
            "required": true,
            "type": "string",
            "format": "string",
            "default": "ChIJs0-pQ_FzhlQRi_OBm-qWkbs"
          },
          {
            "name": "date time",
            "in": "query",
            "description": "range of moving time in YYYYMMDD,{start hour},{end hour}",
            "required": true,
            "type": "string",
            "format": "string",
            "default": "20171110,8,10"
          },
          {
            "name": "vehicle",
            "in": "query",
            "description": "vehicle size",
            "required": true,
            "type": "string",
            "format": "string",
            "default": "xl"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Pet not found"
          }
        }
      }
    },
    "/business/{businessId}": {
      "get": {
        "tags": [
          "business"
        ],
        "summary": "Find list of businesses by query strings",
        "description": "Returns a list of businesses",
        "operationId": "getBusiness",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "businessId",
            "in": "path",
            "description": "ID of business to return",
            "required": true,
            "type": "string",
            "format": "string",
            "default": "-Ky7OkU15ELkKZHvhIFK"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Pet not found"
          }
        }
      }
    }
  }
}
